html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;

}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul,
ul li {
  list-style: none;
}

button {
    outline: none;
      /* Для синий ободки */
      border: 0;
    background: transparent;
}

